<script>
    // NOTES: preventing the default click event behavior is needed to stop the change event being fired twice when the spacebar is pressed.
    import { handleKeyboardToggle, checkItem } from "../stores/controls.js";
    import { onDestroy, onMount, beforeUpdate } from "svelte";
    import log from "electron-log";

    export let label = undefined; // eslint-disable-line no-undef-init
    export let options = undefined; // eslint-disable-line no-undef-init
    export let radio;
    export let selectedOption = options[0].value;

    const uniqueID = Math.floor(Math.random() * 100);

    const slugify = (str = "") => str.toLowerCase().replace(/ /g, "-").replace(/\./g, "");

    function handleKeyDown(e) {
        if (e.key === " ") {
            e.preventDefault();
            checkItem(checkbox);
        }
    }

    function handleRadioChange(event) {
        // selectedOption = index;
        selectedOption = event.target.value;
    }
</script>

<div class="radio-container" role="radiogroup" id={`group-${uniqueID}`} aria-labelledby={`label-${uniqueID}`}>
    {#if label}
        <div class="radio-title" id={`label-${uniqueID}`}>
            {label}
        </div>
    {/if}
    {#each options as { value, label }}
        <div class="radio-wrapper">
            <div class="radio-inner">
                <input class="radio" id={slugify(label)} type="radio" bind:group={selectedOption} {value} bind:this={radio} on:change />
                <!-- <input class="radio" type="radio" name="{name}" bind:group={selectedOption} value={index} on:change={handleRadioChange} /> -->
                <svg class="radio-glyph" viewBox="0 0 24 24">
                    <path d="M0.73, 11.91 8.1,19.28 22.79,4.59" fill="none" />
                </svg>
            </div>
            <label for={slugify(label)} class="radio-label">{label}</label>
        </div>
    {/each}
</div>

<style>
    .radio-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .radio-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .radio-title {
        display: inline-block;
        color: var(--text-normal);
        font-size: 14px;
        line-height: normal;
        font-weight: 400;
        margin-right: 0.5rem;
    }

    .radio-label {
        display: inline-block;
        color: var(--text-normal);
        font-size: 13px;
        line-height: normal;
        font-weight: 400;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    .radio-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .radio-glyph {
        position: absolute;
        width: 12px;
        height: 12px;
        color: #fff;
        pointer-events: none;
    }

    .radio-glyph path {
        transform: scale(0.8);
        transform-origin: center;
        stroke: currentColor;
        stroke-width: 2.45;
        stroke-dasharray: 32;
        stroke-dashoffset: 32;
        pointer-events: none;
    }

    .radio {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        -webkit-appearance: none;
        appearance: none;
        box-sizing: border-box;
        flex: 0 0 auto;
        margin: 0;
        border-radius: 50%; /* Используйте border-radius: 50% для создания круглой формы */
        width: 20px;
        height: 20px;
        border: 1px solid var(--bg4);
    }

    .radio:active {
        background-color: var(--bg3);
    }

    .radio:checked {
        background-color: var(--accent);
        border-color: var(--accent);
    }

    .radio:checked + .radio-glyph path {
        transition: 250ms cubic-bezier(0.55, 0, 0, 1) stroke-dashoffset;
        stroke-dashoffset: 0;
    }

    .radio:checked:active {
        background-color: var(--accent-hover);
        border-color: var(--accent-hover);
    }
</style>
